.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.wrapper hr {
  display: block;
  margin: 0 16px;
  width: 0;
  height: 0;
  border: none;
}

.dropLine {
  height: 4px;
  border-radius: 10px;
  background-color: #748da0;
}

.group {
  width: 256px;
  min-height: 108px;
  border-radius: 8px;
  background-color: #e7eff4;
}
.group.stacked {
  --color: #007bff;

  box-shadow: 0 0 0 1px var(--color);
  border-style: solid;
  border-color: var(--color);
}
.group .heading {
  padding: 12px 16px 4px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

.items {
  padding: 4px 8px;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  min-height: 48px;
  color: #1b2b4a;
  font-weight: bold;
  border-radius: 6px;
  background-color: white;
  cursor: grab;
}
.item.placeholder {
  color: white;
  background-color: #cfdce5;
  cursor: grabbing;
}
.item.draggingAny {
  cursor: grabbing;
}

.ghost {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  transform: scale(0.8) rotate(5deg);
}
