.wrapper {
  padding: 8px;
  width: 512px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  min-height: 48px;
  border: 1px solid #cfd4db;
  border-radius: 4px;
  background-color: white;
}
.item.dragging {
  color: #cfd4db;
  border-style: dashed;
  background-color: transparent;
}
.wrapper.disabled .item {
  color: #cfd4db;
}
.item.ghost.static {
  background-color: #f6f9fc;
}

.ghost {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 100%;
  opacity: 0.8;
  animation-name: ghostItemVisible;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}
@keyframes ghostItemVisible {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
