.wrapper {
  --padding: 8px;

  padding: var(--padding);
  width: 512px;
}

.group {
  padding: 0 var(--padding) calc(var(--padding) / 2);
  border: 1px solid #cfe8be;
  border-radius: 4px;
  background-color: rgba(113, 189, 69, 0.1);
}
.group .heading {
  margin-bottom: 4px;
  padding: 8px 4px 0;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.4;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 16px;
  min-height: 48px;
  border: 1px solid #cfd4db;
  border-radius: 4px;
  background-color: white;
}
.item.dragging {
  color: #cfd4db;
  border-style: dashed;
  background-color: transparent;
}
.item.ghost {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  opacity: 0.8;
  animation-name: ghostItemVisible;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}
.item.ghost.static {
  background-color: #f6f9fc;
}
@keyframes ghostItemVisible {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
