.wrapper {
  --padding: 8px;

  padding: var(--padding);
}

.dropLine {
  width: calc(100% - var(--padding) * 2);
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 16px;
  min-height: 48px;;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  background-color: white;
  transition-property: transform;
  transition-duration: 200ms;
}
.item.dragging {
  color: transparent;
  background-color: transparent;
}
.item.ghost {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  opacity: 0.8;
  transform: scale(0.8);
}
.item.withCustomDragHandle {
  padding-left: 8px;
  transform-origin: 20px center;
}

.customDragHandle {
  box-sizing: content-box;
  margin-right: 4px;
  padding: 6px;
  height: 12px;
  fill: #aaaaaa;
  cursor: grab;
}
.customDragHandle.dragging {
  visibility: hidden;
}
